.body {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px 24px 0px 24px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 24px;
}

.button {
  width: 144px;
  height: 48px;
  background-color: #5000b8;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  display: flex;
  font-size: 14px;
  color: #ffffff;
}

.button:hover {
  background-color: #222fff;
}