.container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px 24px 0px 24px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 24px;
}
