body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  width: 144px;
  height: 48px;
  background-color: #5000b8;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  display: flex;
  font-size: 14px;
  color: #ffffff;
}

.button:hover {
  background-color: #222fff;
}
